In [1]:
%pip install kaggle

Requirement already satisfied: kaggle in c:\users\niuho\appdata\local\programs\python\python312\lib\site-packages (1.6.8)
Requirement already satisfied: six>=1.10 in c:\users\niuho\appdata\roaming\python\python312\site-packages (from kaggle) (1.16.0)
Requirement already satisfied: certifi>=2023.7.22 in c:\users\niuho\appdata\local\programs\python\python312\lib\site-packages (from kaggle) (2024.2.2)
Requirement already satisfied: python-dateutil in c:\users\niuho\appdata\roaming\python\python312\site-packages (from kaggle) (2.9.0.post0)
Requirement already satisfied: requests in c:\users\niuho\appdata\local\programs\python\python312\lib\site-packages (from kaggle) (2.31.0)
Requirement already satisfied: tqdm in c:\users\niuho\appdata\local\programs\python\python312\lib\site-packages (from kaggle) (4.66.2)
Requirement already satisfied: python-slugify in c:\users\niuho\appdata\local\programs\python\python312\lib\site-packages (from kaggle) (8.0.4)
Requirement already satisfied: urllib3 in c:\users\niuho\appdata\local\programs\python\python312\lib\site-packages (from kaggle) (2.2.1)
Requirement already satisfied: bleach in c:\users\niuho\appdata\local\programs\python\python312\lib\site-packages (from kaggle) (6.1.0)
Requirement already satisfied: webencodings in c:\users\niuho\appdata\local\programs\python\python312\lib\site-packages (from bleach->kaggle) (0.5.1)
Requirement already satisfied: text-unidecode>=1.3 in c:\users\niuho\appdata\local\programs\python\python312\lib\site-packages (from python-slugify->kaggle) (1.3)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\users\niuho\appdata\local\programs\python\python312\lib\site-packages (from requests->kaggle) (3.3.2)
Requirement already satisfied: idna<4,>=2.5 in c:\users\niuho\appdata\local\programs\python\python312\lib\site-packages (from requests->kaggle) (3.6)
Requirement already satisfied: colorama in c:\users\niuho\appdata\roaming\python\python312\site-packages (from tqdm->kaggle) (0.4.6)
Note: you may need to restart the kernel to use updated packages.

In [5]:
# download files with kaggle API
!kaggle datasets download -d yagunnersya/fifa-21-messy-raw-dataset-for-cleaning-exploring

fifa-21-messy-raw-dataset-for-cleaning-exploring.zip: Skipping, found more recently modified local copy (use --force to force download)

In [2]:
import pandas as pd
import numpy as np
import zipfile

In [11]:
# Open the zip file
with zipfile.ZipFile('fifa-21-messy-raw-dataset-for-cleaning-exploring.zip', 'r') as zip_ref:
    # Extract all the contents to the extraction directory
    zip_ref.extractall('.')

In [3]:
# load datasets
df = pd.read_csv('fifa21_raw_data.csv')

C:\Users\niuho\AppData\Local\Temp\ipykernel_9092\2208781644.py:2: DtypeWarning: Columns (76) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('fifa21_raw_data.csv')

In [12]:
# read the shape of the dataFrame
df.shape
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18979 entries, 0 to 18978
Data columns (total 77 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   photoUrl          18979 non-null  object
 1   LongName          18979 non-null  object
 2   playerUrl         18979 non-null  object
 3   Nationality       18979 non-null  object
 4   Positions         18979 non-null  object
 5   Name              18979 non-null  object
 6   Age               18979 non-null  int64
 7   â†“OVA              18979 non-null  int64
 8   POT               18979 non-null  int64
 9   Team & Contract   18979 non-null  object
 10  ID                18979 non-null  int64
 11  Height            18979 non-null  object
 12  Weight            18979 non-null  object
 13  foot              18979 non-null  object
 14  BOV               18979 non-null  int64
 15  BP                18979 non-null  object
 16  Growth            18979 non-null  int64
 17  Joined            18979 non-null  object
 18  Loan Date End     1013 non-null   object
 19  Value             18979 non-null  object
 20  Wage              18979 non-null  object
 21  Release Clause    18979 non-null  object
 22  Attacking         18979 non-null  int64
 23  Crossing          18979 non-null  int64
 24  Finishing         18979 non-null  int64
 25  Heading Accuracy  18979 non-null  int64
 26  Short Passing     18979 non-null  int64
 27  Volleys           18979 non-null  int64
 28  Skill             18979 non-null  int64
 29  Dribbling         18979 non-null  int64
 30  Curve             18979 non-null  int64
 31  FK Accuracy       18979 non-null  int64
 32  Long Passing      18979 non-null  int64
 33  Ball Control      18979 non-null  int64
 34  Movement          18979 non-null  int64
 35  Acceleration      18979 non-null  int64
 36  Sprint Speed      18979 non-null  int64
 37  Agility           18979 non-null  int64
 38  Reactions         18979 non-null  int64
 39  Balance           18979 non-null  int64
 40  Power             18979 non-null  int64
 41  Shot Power        18979 non-null  int64
 42  Jumping           18979 non-null  int64
 43  Stamina           18979 non-null  int64
 44  Strength          18979 non-null  int64
 45  Long Shots        18979 non-null  int64
 46  Mentality         18979 non-null  int64
 47  Aggression        18979 non-null  int64
 48  Interceptions     18979 non-null  int64
 49  Positioning       18979 non-null  int64
 50  Vision            18979 non-null  int64
 51  Penalties         18979 non-null  int64
 52  Composure         18979 non-null  int64
 53  Defending         18979 non-null  int64
 54  Marking           18979 non-null  int64
 55  Standing Tackle   18979 non-null  int64
 56  Sliding Tackle    18979 non-null  int64
 57  Goalkeeping       18979 non-null  int64
 58  GK Diving         18979 non-null  int64
 59  GK Handling       18979 non-null  int64
 60  GK Kicking        18979 non-null  int64
 61  GK Positioning    18979 non-null  int64
 62  GK Reflexes       18979 non-null  int64
 63  Total Stats       18979 non-null  int64
 64  Base Stats        18979 non-null  int64
 65  W/F               18979 non-null  object
 66  SM                18979 non-null  object
 67  A/W               18979 non-null  object
 68  D/W               18979 non-null  object
 69  IR                18979 non-null  object
 70  PAC               18979 non-null  int64
 71  SHO               18979 non-null  int64
 72  PAS               18979 non-null  int64
 73  DRI               18979 non-null  int64
 74  DEF               18979 non-null  int64
 75  PHY               18979 non-null  int64
 76  Hits              18979 non-null  object
dtypes: int64(55), object(22)
memory usage: 11.1+ MB

In [5]:
df['Height'].head(10)

0     5'7"
1     6'2"
2     6'2"
3    5'11"
4     5'9"
5     6'0"
6    5'10"
7     6'3"
8     5'9"
9     5'9"
Name: Height, dtype: object

In [7]:
# create a backup column
df['original_Height'] = df['Height']

In [9]:
df.shape

(18979, 78)

In [11]:
# check if any rows with missing value
df['Height'].isnull().sum()

0

In [18]:
# check if the height column contains "'"
if "'" in df['Height'].values:
# if yes , handling the data type is not object
   if df['Height'].dtype != 'object':
      df['Height'] = df['Height'].astype(str)

      # convert the data type of Height to numeric(centimeters)
      height_split = df['Height'].str.split("'",expand=True)
      feet = height_split[0].astype(int)
      inches = height_split[1].str.replace('"','').astype(int)
      height_inches = feet * 12 + inches
else:
    height_inches = df['Height'].astype(float) / 2.54

height_cm = height_inches * 2.54

df['Height'] = height_cm

df['Height'].head(10)

0    170.18
1    187.96
2    187.96
3    180.34
4    175.26
5    182.88
6    177.80
7    190.50
8    175.26
9    175.26
Name: Height, dtype: float64

In [28]:
df['Height'].isnull().sum()
df.drop('original_Height',axis=1,inplace=True)
df.shape

(18979, 77)

In [22]:
df['Weight'].head(10)

0    159lbs
1    183lbs
2    192lbs
3    154lbs
4    150lbs
5    176lbs
6    161lbs
7    201lbs
8    157lbs
9    152lbs
Name: Weight, dtype: object

In [24]:
df['Weight'].isna().sum()

0

In [34]:
# convert object to numeric
if df['Weight'].astype(str).str.contains('lbs').any():

        df['Weight'] = df['Weight'].str.replace("lbs","")

df['Weight'] = df['Weight'].astype(float)  

df['Weight'].dtype

dtype('float64')

In [40]:
# rename the column Weight name
df.rename(columns={'Weight':'Weight(lbs)'},inplace=True)
df['Weight(lbs)'].head()

0    159.0
1    183.0
2    192.0
3    154.0
4    150.0
Name: Weight(lbs), dtype: float64

In [47]:
df.shape

(18979, 77)

In [49]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18979 entries, 0 to 18978
Data columns (total 77 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   photoUrl          18979 non-null  object
 1   LongName          18979 non-null  object
 2   playerUrl         18979 non-null  object
 3   Nationality       18979 non-null  object
 4   Positions         18979 non-null  object
 5   Name              18979 non-null  object
 6   Age               18979 non-null  int64
 7   â†“OVA              18979 non-null  int64
 8   POT               18979 non-null  int64
 9   Team & Contract   18979 non-null  object
 10  ID                18979 non-null  int64
 11  Height            18979 non-null  float64
 12  Weight(lbs)       18979 non-null  float64
 13  foot              18979 non-null  object
 14  BOV               18979 non-null  int64
 15  BP                18979 non-null  object
 16  Growth            18979 non-null  int64
 17  Joined            18979 non-null  object
 18  Loan Date End     1013 non-null   object
 19  Value             18979 non-null  object
 20  Wage              18979 non-null  object
 21  Release Clause    18979 non-null  object
 22  Attacking         18979 non-null  int64
 23  Crossing          18979 non-null  int64
 24  Finishing         18979 non-null  int64
 25  Heading Accuracy  18979 non-null  int64
 26  Short Passing     18979 non-null  int64
 27  Volleys           18979 non-null  int64
 28  Skill             18979 non-null  int64
 29  Dribbling         18979 non-null  int64
 30  Curve             18979 non-null  int64
 31  FK Accuracy       18979 non-null  int64
 32  Long Passing      18979 non-null  int64
 33  Ball Control      18979 non-null  int64
 34  Movement          18979 non-null  int64
 35  Acceleration      18979 non-null  int64
 36  Sprint Speed      18979 non-null  int64
 37  Agility           18979 non-null  int64
 38  Reactions         18979 non-null  int64
 39  Balance           18979 non-null  int64
 40  Power             18979 non-null  int64
 41  Shot Power        18979 non-null  int64
 42  Jumping           18979 non-null  int64
 43  Stamina           18979 non-null  int64
 44  Strength          18979 non-null  int64
 45  Long Shots        18979 non-null  int64
 46  Mentality         18979 non-null  int64
 47  Aggression        18979 non-null  int64
 48  Interceptions     18979 non-null  int64
 49  Positioning       18979 non-null  int64
 50  Vision            18979 non-null  int64
 51  Penalties         18979 non-null  int64
 52  Composure         18979 non-null  int64
 53  Defending         18979 non-null  int64
 54  Marking           18979 non-null  int64
 55  Standing Tackle   18979 non-null  int64
 56  Sliding Tackle    18979 non-null  int64
 57  Goalkeeping       18979 non-null  int64
 58  GK Diving         18979 non-null  int64
 59  GK Handling       18979 non-null  int64
 60  GK Kicking        18979 non-null  int64
 61  GK Positioning    18979 non-null  int64
 62  GK Reflexes       18979 non-null  int64
 63  Total Stats       18979 non-null  int64
 64  Base Stats        18979 non-null  int64
 65  W/F               18979 non-null  object
 66  SM                18979 non-null  object
 67  A/W               18979 non-null  object
 68  D/W               18979 non-null  object
 69  IR                18979 non-null  object
 70  PAC               18979 non-null  int64
 71  SHO               18979 non-null  int64
 72  PAS               18979 non-null  int64
 73  DRI               18979 non-null  int64
 74  DEF               18979 non-null  int64
 75  PHY               18979 non-null  int64
 76  Hits              18979 non-null  object
dtypes: float64(2), int64(55), object(20)
memory usage: 11.1+ MB

In [52]:
df[['Height','Weight(lbs)']].head(10)

   Height  Weight(lbs)
0  170.18        159.0
1  187.96        183.0
2  187.96        192.0
3  180.34        154.0
4  175.26        150.0
5  182.88        176.0
6  177.80        161.0
7  190.50        201.0
8  175.26        157.0
9  175.26        152.0

In [56]:
df.rename(columns={'Height':'Height(cm)'},inplace=True)
df[['Height(cm)','Weight(lbs)']].head(10)

   Height(cm)  Weight(lbs)
0      170.18        159.0
1      187.96        183.0
2      187.96        192.0
3      180.34        154.0
4      175.26        150.0
5      182.88        176.0
6      177.80        161.0
7      190.50        201.0
8      175.26        157.0
9      175.26        152.0

In [59]:
df['Joined'].head(10)

0     Jul 1, 2004
1    Jul 10, 2018
2    Jul 16, 2014
3    Aug 30, 2015
4     Aug 3, 2017
5     Jul 1, 2014
6     Jul 1, 2018
7    Jul 19, 2018
8     Jul 1, 2017
9     Jul 1, 2016
Name: Joined, dtype: object

In [61]:
df['Joined'].isnull().sum()

0

In [63]:
# Convert column Joined to datetime format if it's not
df['Joined'] = pd.to_datetime(df['Joined'])

In [65]:
# Extract year,month,and day
df['Year'] = df['Joined'].dt.year
df['Month'] = df['Joined'].dt.month
df['Day'] = df['Joined'].dt.day

In [67]:
df[['Year','Month','Day']].head(10)

   Year  Month  Day
0  2004      7    1
1  2018      7   10
2  2014      7   16
3  2015      8   30
4  2017      8    3
5  2014      7    1
6  2018      7    1
7  2018      7   19
8  2017      7    1
9  2016      7    1

In [72]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18979 entries, 0 to 18978
Data columns (total 79 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   photoUrl          18979 non-null  object
 1   LongName          18979 non-null  object
 2   playerUrl         18979 non-null  object
 3   Nationality       18979 non-null  object
 4   Positions         18979 non-null  object
 5   Name              18979 non-null  object
 6   Age               18979 non-null  int64
 7   â†“OVA              18979 non-null  int64
 8   POT               18979 non-null  int64
 9   Team & Contract   18979 non-null  object
 10  ID                18979 non-null  int64
 11  Height(cm)        18979 non-null  float64
 12  Weight(lbs)       18979 non-null  float64
 13  foot              18979 non-null  object
 14  BOV               18979 non-null  int64
 15  BP                18979 non-null  object
 16  Growth            18979 non-null  int64
 17  Loan Date End     1013 non-null   object
 18  Value             18979 non-null  object
 19  Wage              18979 non-null  object
 20  Release Clause    18979 non-null  object
 21  Attacking         18979 non-null  int64
 22  Crossing          18979 non-null  int64
 23  Finishing         18979 non-null  int64
 24  Heading Accuracy  18979 non-null  int64
 25  Short Passing     18979 non-null  int64
 26  Volleys           18979 non-null  int64
 27  Skill             18979 non-null  int64
 28  Dribbling         18979 non-null  int64
 29  Curve             18979 non-null  int64
 30  FK Accuracy       18979 non-null  int64
 31  Long Passing      18979 non-null  int64
 32  Ball Control      18979 non-null  int64
 33  Movement          18979 non-null  int64
 34  Acceleration      18979 non-null  int64
 35  Sprint Speed      18979 non-null  int64
 36  Agility           18979 non-null  int64
 37  Reactions         18979 non-null  int64
 38  Balance           18979 non-null  int64
 39  Power             18979 non-null  int64
 40  Shot Power        18979 non-null  int64
 41  Jumping           18979 non-null  int64
 42  Stamina           18979 non-null  int64
 43  Strength          18979 non-null  int64
 44  Long Shots        18979 non-null  int64
 45  Mentality         18979 non-null  int64
 46  Aggression        18979 non-null  int64
 47  Interceptions     18979 non-null  int64
 48  Positioning       18979 non-null  int64
 49  Vision            18979 non-null  int64
 50  Penalties         18979 non-null  int64
 51  Composure         18979 non-null  int64
 52  Defending         18979 non-null  int64
 53  Marking           18979 non-null  int64
 54  Standing Tackle   18979 non-null  int64
 55  Sliding Tackle    18979 non-null  int64
 56  Goalkeeping       18979 non-null  int64
 57  GK Diving         18979 non-null  int64
 58  GK Handling       18979 non-null  int64
 59  GK Kicking        18979 non-null  int64
 60  GK Positioning    18979 non-null  int64
 61  GK Reflexes       18979 non-null  int64
 62  Total Stats       18979 non-null  int64
 63  Base Stats        18979 non-null  int64
 64  W/F               18979 non-null  object
 65  SM                18979 non-null  object
 66  A/W               18979 non-null  object
 67  D/W               18979 non-null  object
 68  IR                18979 non-null  object
 69  PAC               18979 non-null  int64
 70  SHO               18979 non-null  int64
 71  PAS               18979 non-null  int64
 72  DRI               18979 non-null  int64
 73  DEF               18979 non-null  int64
 74  PHY               18979 non-null  int64
 75  Hits              18979 non-null  object
 76  Year              18979 non-null  int32
 77  Month             18979 non-null  int32
 78  Day               18979 non-null  int32
dtypes: float64(2), int32(3), int64(55), object(19)
memory usage: 11.2+ MB

In [76]:
df[['Value','Wage','Release Clause']].head(10)

     Value   Wage Release Clause
0   â‚¬67.5M  â‚¬560K        â‚¬138.4M
1     â‚¬46M  â‚¬220K         â‚¬75.9M
2     â‚¬75M  â‚¬125K        â‚¬159.4M
3     â‚¬87M  â‚¬370K          â‚¬161M
4     â‚¬90M  â‚¬270K        â‚¬166.5M
5     â‚¬80M  â‚¬240K          â‚¬132M
6  â‚¬105.5M  â‚¬160K        â‚¬203.1M
7   â‚¬62.5M  â‚¬160K        â‚¬120.3M
8     â‚¬78M  â‚¬250K        â‚¬144.3M
9     â‚¬78M  â‚¬250K        â‚¬144.3M

In [78]:
# check for missing values
df[['Value','Wage','Release Clause']].isnull().sum()

Value             0
Wage              0
Release Clause    0
dtype: int64

In [80]:
df[['Value','Wage','Release Clause']].info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18979 entries, 0 to 18978
Data columns (total 3 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Value           18979 non-null  object
 1   Wage            18979 non-null  object
 2   Release Clause  18979 non-null  object
dtypes: object(3)
memory usage: 444.9+ KB